<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document Detail - IRWA Search Engine</title>
    <link rel="stylesheet" href="static/styles/custom.css" />
    <link rel="stylesheet" href="static/styles/bootstrap.min.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

  </head>
  <body>
      <div style="padding: 20px;display: flex;">
          <div><a href="#" onclick="history.go(-1)"><i class="fas fa-arrow-left"></i></a></div>
        <div><a style="margin: 10px;" href="/stats"><i class="fas fa-chart-pie"></i></a></div>
      </div>
    <div class="container">
    <input id="url" type="text" value="{{doc.url}}" hidden></input>
    <div class="card" onclick="opentweet()" style="    cursor: pointer;">
        <div class="tweet-card">
        <div class="tweet-content">
            <div class="tweet-header">
            <span class="fullname">
                <strong>{{ doc.screen_name }}</strong>
            </span>
            <span class="username"> {{ doc.username }} </span>
            <span class="tweet-time">- {{ doc.tweet_date }} </span>
            </div>
            <!-- <a>
            <img class="tweet-card-avatar" src="https://pbs.twimg.com/profile_images/679974972278849537/bzzb-6H4_bigger.jpg" alt="">
            </a> -->
            <div class="tweet-text">
            <p class="" lang="es" data-aria-label-part="0">
                {{ doc.description }} {% for hashtag in doc.hashtags %}
                <a href="" class="twitter-hashtag" dir="ltr">#{{ hashtag }}</a>
                {% endfor %}
            </p>
            </div>
            <div class="tweet-footer">

            <a class="tweet-footer-btn">
                <i class="fas fa-sync"></i><span>{{ doc.retweet_count }} </span>
            </a>
            <a class="tweet-footer-btn">
                <i class="fas fa-heart"></i><span>{{ doc.favorite_count }}</span>
            </a>
            </div>
        </div>
        </div>
    </div> 
    </div>
    <script>
        function opentweet(){
            url = document.getElementById('url').value
            window.location.href = url
        }
    </script>
  </body>
</html>
